$map-position: (
  position: (
    is-responsive: true,
    default: false,
    modifiers: (
      relative: (
        position: relative
      ),
      absolute: (
        position: absolute
      ),
      fixed: (
        position: fixed
      ),
      sticky: (
        position: sticky,
        top: 0
      )
    )
  ),
)